<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zonekey.ijkplayer_view">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name="com.zonekey.ijkplayer_view.service.MediaPlayerService"
            android:enabled="false"
            android:exported="false"></service>
    </application>
</manifest>
